"*":
  "atom-alignment": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    destroyEmptyPanes: false
    themes: [
      "material-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Ricty Diminished Discord, Meiryo, helvetica, "
    fontSize: 17
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "4e2d194b-75bc-05bd-459a-05c00ba666e9"
  "git-status": {}
  "go-plus":
    goInstallation: "~/.goroot/bin/go"
    goPath: "~/.go"
  "make-runner":
    hidePane: true
  "markdown-table-formatter": {}
  minimap:
    plugins:
      "git-diff": true
  "one-light-ui": {}
  "terminal-plus":
    core: {}
    style: {}
    toggles:
      autoClose: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
